body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    background-color: peachpuff;
}
.main-header h1{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 14px;
    cursor: pointer;
    text-align: center;
    font-size: 40px;
}
.main-header {
   background: url(h2.jfif);
    background-size: cover;
    height: 700px;
    width: 100%;
    background-position: fixed;
}

.main-header h2{
    text-align: center;
    position: relative;
    top: 30%;
    color: black;
    cursor: pointer;
    
}
.main-header h2 span{
    background-color: #e4d9d9;
    padding: 10px;
    color: orange;
    text-align: center;

}
.header{
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        justify-content: space-around;
    }
.navigation ul{
    display: flex;
    flex-wrap: wrap;
    float: right;
}
.navigation ul li{
    list-style: none;
    margin-right: 20px;
    padding: 10px;
    
}
.navigation ul li a{
    text-decoration: none;
    color: black;

}
.navigation ul li a:hover{
    background-color:white;
    padding: 10px;

}
/*end of navigation and main header here*/

/*start here services*/

h2{
    text-align: center;
}
.service .main-services{
    display: flex;
    justify-content: center;
}
.service .service-box{
    background-color:#ccc;
    margin-top: 8px;
    text-align: center;
    width: 200px;
    padding: 30px 10px 0;
}
.service .service-box i{
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 22px;
    border-radius: 52%;
}
.gallery .img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0;
}
.service .gallery .img img{
    width:  100%;
    height: 200px;
}
@media(max-width: 600px){
    .services .gallery.img{
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 0;
    text-align: center;
}
.service .gallery .img img{
    width: 200px;
    
    }
    .service .gallery .img img{
        height: 200px;
        width: 100%;
    }
}
/*end here services*/

/*start here image slider*/
.slider{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.images{
    display: flex;
    width: 100%;
}
.images img{
    height: 500px; 
    width: 100%;
    transition: all 0.15s ease;
}
.images input{
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover{background: #fff;}
#img1:checked ~ .m1{
    margin-left: 0;
}
#img2:checked ~ .m2{
    margin-left: -100%;
}
#img3:checked ~ .m3{
    margin-left: -200%;
}
#img4:checked ~ .m4{
    margin-left: -300%;
}
#img5:checked ~ .m5{
    margin-left: -300%;
}
#img6:checked ~ .m6{
    margin-left: -300%;
}
/*end here image slider*/

/*start here registration form*/
.form{
    padding: 0 16rem 4rem;
    margin: auto;
}
@media(max-width: 600px){
    .form{
        padding: 0 4rem;
    }
}
input{
    display: block;
    width: 400px;
}
.form button{
    background-color: black;
    color: white;
    border: none;
    padding: .7rem 1rem;
    outline: none;
}
.form button:hover{
    background-color: skyblue;
    color: blue;

}
/*end here registration form*/

/*start here get in touch part*/
.touch{
    background-color: pink;
    padding-top: 10px;
}
.break{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 80px;
    text-align: center;
}
@media (max-width: 600px){
    .break{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
}
.touch .footer{
    background-color: green;
    text-align: center;
    padding: 1px 0px;
    color: white;
}